/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 100%;

  background: image-url("symphony.png");
}

header {
  padding: 0;
  background-color: rgba(0,0,0,0.2);//whitesmoke;
}

.top {
  padding: 5px;
  justify-content: center;
}

.top h2 {
  margin: 0;
}

#create-node {
  float: right;
  right: 0;

  display: none;
}

.well {
  background-color: rgba(0, 0, 0, 0.2); 
}

#user-title {
  font-size: 4em;
  margin-bottom: 0;
}

#node-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#node-title {
  margin: 0;
}

.addForm {
  align: center;
}

.nodes {
  // check node.css.scss
}
