// Place all the styles related to the nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well.nodes {
  position: absolute;
  top: 50px;
  left: 5px;
  width: 300px;
  float: left;
  border-radius: 20px;
  border-width:0;

  background-color: rgba(0, 0, 0, 0.9); 

  color: silver;
}

.node-header {
  color: dimgrey;
}

.node-title {
  color: dimgrey;
}

.node-content {
  font-size: 1.5em;
}

.node-type {
  color: dimgrey;
}

.nodes-connected {
  display: none;
}